:root {
  --primary-background-color: #faf8ff;
  --text-color: #242424;
  --primary-color: #068488;
  --secondary-color: #00c6cf;
  --grey-cyan: #324b4c;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  background-color: var(--primary-background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 16px;
  font-weight: bold;
}

header {
  width: 100%;
  padding: 30px;
  border-bottom: 2px solid var(--primary-color);
  margin-top: 16px;
}

main {
  width: 100%;
  padding: 30px;
}

.navbar {
  font-size: 50px;
  font-weight: bold;
}

.btn {
  margin-bottom: 10px;
  border: none;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--primary-background-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.15s;
  transition-property: opacity, background-color, color;
  max-width: 200px;
}

.btn:active {
  border: none;
  font-family: inherit;
  background-color: var(--primary-background-color);
  color: var(--primary-color);
  text-decoration: none;
  padding: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition-duration: 0.15s;
  transition-property: opacity, background-color, color;
  max-width: 200px;
}

.btn:hover {
  color: var(--primary-background-color);
  cursor: pointer;
  background-color: var(--secondary-color);
  opacity: 0.8;
  max-width: 200px;
}

#loading-message {
  display: none;
  border: 1px solid var(--grey-cyan);
  padding: 10px;
}

.list-group-item {
  background: var(--primary-background-color);
  border: none;
  flex-direction: row;
  flex-wrap: wrap;
}
