:root {
  --primary-background-color: #faf8ff;
  --text-color: #242424;
  --primary-color: #068488;
  --secondary-color: #00c6cf;
  --grey-cyan: #324b4c;
}

#loading-message {
  display: none;
  border: 1px solid var(--grey-cyan);
  padding: 10px;
}
